*{
	font-family:Arial !important;
	font-weight:200 !important;
}

.presentation-code {
	text-align : left; 
	padding-left : 15px;
}

h2 {
	text-transform : none !important; 
	padding-bottom: 35px !important;
	font-weight:bold !important;
	font-weight:400 !important;
}

.reveal section img {
	border: none !important;
	box-shadow: none !important;
}