.presentation-code {
	text-align : left; 
	padding-left : 15px;
}

h2 {
	text-transform : none !important; 
	padding-bottom: 20px !important;
}

.reveal section img {
	border: none !important;
	box-shadow: none !important;
}